<div class="d-flex justify-content-between">
  <h2 class="mt-2">Listado de Estudiantes</h2>

  <button
    class="mt-2"
    (click)="openDialogEditEstudiante()"
    mat-flat-button
    color="primary"
  >
    <mat-icon>add</mat-icon>
    Nuevo Estudiante
  </button>
</div>
<hr />
<app-list
  (eliminarEstudiante)="onEliminarEstudiante($event)"
  [estudiantes]="estudiantes"
  (estudiantesActualizados)="onEstudiantesActualizados($event)"
></app-list>
<!-- <app-grid [estudiantes]="estudiantes"></app-grid> -->
