<mat-toolbar color="primary">

  <button mat-icon-button (click)="drawer!.toggle();toggleIcono()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon [ngClass]="{'icono-girado': !iconoGirado}">menu</mat-icon>
  </button>

  <span>SysEstudent</span>

  <span class="spacer"></span>



  <p style="display: flex; align-items: center; margin-top: 15px;">
    <mat-icon style="margin-right: 5px;">access_time</mat-icon>
    {{ horaActual$ | async | timeFormat }}
  </p>


    <!-- boton de setting -->
    <button mat-icon-button [matMenuTriggerFor]="menu" title="Ingresá a la configuracion" >
      <mat-icon>settings</mat-icon>
    </button>

  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item title="Editar mi Perfil">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Editar Perfil</span>
    </button> -->
    <button mat-menu-item title="Cambia los colores de preferencia de tu sistema" (click)="onChangeTheme()">
      <mat-icon>format_paint</mat-icon>
      <span>Editar Preferencias</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item title="Salir del sistema" (click)="salir()">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>

</mat-toolbar>
