<div class="d-flex flex-wrap justify-content-between">
  <div class="col-3" *ngFor="let estudiante of estudiantes" style="margin-right: 5px; margin-bottom: 10px;">
    <mat-card class="example-card" style="width: 140%;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ estudiante.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ estudiante.nombre }} {{estudiante.apellido}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{estudiante.fotoUrl}}" alt="Foto">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
