<mat-sidenav-container fullscreen  (backdropClick)="cerrarMenu()">
  <!-- Barrar Desplegable -->
  <mat-sidenav #drawer class="example-sidenav" mode="push" >

    <mat-toolbar>

      <span>Menu</span>
      <span class="spacer"></span>

      <button mat-icon-button (click)="cerrarMenu()"
        class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <a (click)="cambiarEstadoEstudiantes()" mat-list-item>
        <span class="icon-container">
          <!-- <mat-icon mat-list-icon class="mt-3">perm_identity</mat-icon> -->
        </span>
        <span class="text-container">Estudiantes</span>
      </a>
      <a (click)="cambiarEstadoCursos()" mat-list-item>
        <span class="icon-container">
          <!-- <mat-icon mat-list-icon>fact_check</mat-icon> -->
        </span>
        <span class="text-container">Cursos</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <app-toolbar [drawer]="drawer" (girarIcono)="iconoGirado = $event"></app-toolbar>

    <!-- Renderizado de las rutas -->
    <main class="container">

      <app-cursos *ngIf="estadoCursos"></app-cursos>

      <app-layout *ngIf="estadoEstudiantes"></app-layout>

      <div *ngIf="!estadoCursos && !estadoEstudiantes">
        <h3 class="mt-5">No existe nada para mostrar</h3>
        <h4>Redireccionando <mat-progress-spinner mode="indeterminate"></mat-progress-spinner></h4>
        {{ mostrarMensajeTemporalmente() }}
      </div>

    </main>

</mat-sidenav-container>



